<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News API</title>
     <link rel="stylesheet" href="style.css">

     <style type="text/css">
  .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a.prev,
.pagination a.next {
  margin-left: 5px;
  margin-right: 5px;
}

</style>
  </head>
  <body>
   <div class="header">
            <img src="media/logo.png" class="logo">
        <ul class="nav-links">




    <li>
      <a href="/articles" style="background-color: blue;">HOME</a>
    </li>
   

    <% if (user.sport) {%>

    <li><a href="/cat/sports">SPORTS</a></li>
   
    <% } %>

    

    <% if (user.general) {%>
    <li><a href="/cat/general">GENERAL</a></li>
   
    <% } %>


        <% if (user.science) {%>
        <li><a href="/cat/science">SCIENCE</a></li>

   
    <% } %>

        <% if (user.health) {%>
                    <li><a href="/cat/health">HEALTH</a></li>

   
    <% } %>

        <% if (user.entertainment) {%>

                    <li><a href="/cat/entertainment">ENTERTAINMENT</a></li>
         
   
    <% } %>


        <% if (user.technology) {%>
           <li><a href="/cat/technology">TECHNOLOGY</a></li>
   
    <% } %>

        <% if (user.business) {%>
        <li><a href="/cat/business">BUSINESS</a></li>
   
    <% } %>


            
            
        </ul>
        <a href="/articles" class="button" style="">refresh</a>
        <a class="button" style="" href="/logout" >SIGN_OUT</button>
        </a>

        <span style="color: white">Hello, <%= user.username %></span>
        <a href="/profile" class="button">Setting </a>
       


    </div>


<br><br>
    <span style="margin: 10px 0px 0px 10%;"></span> <span style="margin: 0px 0px 0px 73%;"></span>

    <% articles.forEach(article => { %>
    <div style="border:2px solid black; margin:0px 10% 1px 10%; padding:4%;">
      <h2><%= article.title %></h2>
      <p><%= article.description %></p>
      <p><a href="<%= article.url %>">Read More</a></p>
  </div>
    <% }) %>



    <div class="pagination">


    <% if (currentPage > 1) { %>
      <a href="?page=<%= currentPage - 1 %>">Previous</a>
      <% } %>

      <% for (let i = 1; i <= totalPages; i++) { %>
      <% if (i === currentPage) { %>
      <span> <a class="active"><%= i %></a></span>
      <% } else { %>
      <a href="?page=<%= i %>" ><%= i %></a>
      <% } %>
      <% } %>

      <% if (currentPage < totalPages) { %>
      <a href="?page=<%= currentPage + 1 %>">Next</a>
      <% } %>
</div>

  </body>
</html>
